.contacts-container{
  height: 80vh;
  width: 100%;
  background: #f7f7f7;
  display: flex;
  color: #3b5998;
}

.contacts-menu{
  width: 30%;
  background: #dfe3ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.contacts-menu > li{
  width: 80%;
  padding: 20px 0;
  border: 1px solid #3b5998;
  border-radius: 5px;
  margin: 10px;
}

.contact-main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-main:hover > .contact-actions{
  visibility: visible;
}

.contact-main-left{
  min-width: 30%;
  height: 100%;
}

.contact-main-left > img{
  height: 100px;
  border-radius: 100%;
}

.contact-main-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 50%;
  min-height: 100%;
}

.contact-main-right > h2{
  margin: 10px 0;
  font-size: 20px;
}

.contact-main-right > h3{
  margin: 10px 0;
}

.contact-actions{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  visibility: hidden;
}

.contact-actions > div{
  margin: 10px 0;
}

.contact-actions > div:hover{
  cursor: pointer;
}

.contact-actions-delete:hover{
  color: red;
}

.contacts-main{
  width: 70%;
  height: 90%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.contacts-main > li{
  width: 70%;
  list-style: none;
  background: #dfe3ee;
  border-radius: 10px;
  margin: 20px 0;
}

.add-contact-form-container{
  padding: 20px;
  width: 100%;
}

.add-contact-form-container > h1{
  font-size: 24px;
}

.add-contact-form-container > h2{
  color: red;
}

.add-contact-form-main{
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

input[type='text']{
  font-size: 18px;
  color: #3b5998;
  padding: 5px;
  margin: 10px;
  width: 40%;
}

input[type='tel']{
  font-size: 18px;
  color: #3b5998;
  padding: 5px;
  margin: 10px;
  width: 40%;
}

input[type="url"]{
  font-size: 18px;
  color: #3b5998;
  padding: 5px;
  margin: 10px;
  width: 40%;
}

button[type="button"]{
  font-size: 18px;
  color: #3b5998;
  padding: 10px;
  margin: 10px;
  width: 40%;
}
