<!DOCTYPE html>
<html>
  <head>
    <title>ContactsApp</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://use.fontawesome.com/3b4f7d56e1.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
